body{
    background-color: #0f0f1b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: #fff;
    min-height: 1000px;
    letter-spacing: .6px;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
header{
    text-align: center;
}
header h1{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0;
}
header p{
    line-height: 26px;
    font-weight: 300;
    padding: 0 130px;
}
nav{
    display: inline-block;
    width: 100%;
    border-top: 1px solid;
}
nav ul.left{
    float: left;
}
nav ul.right{
    float: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
nav ul.li:last-child{
   margin-right: 0; 
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

.autoplay_btn label{
    display: flex;
    align-items: center;
}
.autoplay_btn h5{
    margin: 0;
    font-weight: 500;
}
.autoplay_btn span{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    border: 2px solid #414072;
    border-radius: 50px;
    margin-left: 5px;
    transition: all ease 0.5s;
}
.autoplay_btn span::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 19px;
    background: #414072;
    border-radius: 50px;
    top: 3px;
    left: 4px;
    transition: all ease 0.5s;
}
.autoplay_btn input:checked ~ span{
    border-color: #7270ca;
    box-shadow: 0 5px 25px rgb(114 112 202/ .5), 0 0 25px rgb(114 112 202/ .5);
    background: rgb(114 112 202/ .2);
}
.autoplay_btn input:checked ~ span::before{
    left: 36px;
    box-shadow: 0 5px 25px rgb(114 112 202/ .5), 0 0 25px rgb(114 112 202/ .5);
    background: #7270ca;
}
.autoplay_btn input{
    display: none;
}
.body_content{
    margin-top: 30px;
}
.body_content .title{
    background-color: #414072;
    color: #fff;
    padding: 20px 5px;
    border-radius: 10px;
    display: flex;
}
.body_content .title span{
    font-size: 20px;
}
.body_content .title span:nth-child(1){
    width: 8%;
}
.body_content .title span:nth-child(2){
    width: 35%;
}
.body_content .title span:nth-child(3){
    width: 16%;
}
.body_content .title span:nth-child(4){
    width: 16%;
}
.body_content .title span:nth-child(5){
    width: 10%;
}
.body_content .title span:nth-child(6){
    width: 10%;
}
.body_content .list_block{
    position: relative;
    padding: 20px 5px;
    background: #000;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.body_content .list_block span{
    font-size: 16px;
    font-weight: 400;
}
.body_content .list_block .download_btn{
    position: absolute;
    right: 30px;
}
.body_content .list_block .download_btn:hover{
    opacity: .7;
}

/* BEAT ANIMATION */
.body_content .beat_animation ul{
    padding: 0;
    margin: 0;
    text-align: center;
}
.body_content .beat_animation ul li{
    list-style: none;
    height: 40px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    margin: 0 5px;
    transform-origin: bottom;
    opacity: .1;
    animation: beat 1s linear 0s infinite;
    animation-play-state: paused;
}
@keyframes beat{
    50%{
        transform: scaleY(0);
    }
}
.body_content .beat_animation li:nth-child(1){
    animation-delay: .2s;
}
.body_content .beat_animation li:nth-child(2){
    animation-delay: .4s;
}
.body_content .beat_animation li:nth-child(4){
    animation-delay: .3s;
}